<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISessionService" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CustomBinding_IContactService">
                    <textMessageEncoding />
                    <httpTransport authenticationScheme="Ntlm" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:15260/ContactService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_IContactService"
                contract="ContactServiceReference.IContactService" name="CustomBinding_IContactService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:15260/SessionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISessionService"
                contract="SessionServiceReference.ISessionService" name="BasicHttpBinding_ISessionService" />
        </client>
    </system.serviceModel>
</configuration>