<?xml version="1.0"?>
<configuration>

  <system.web>
    <authentication mode="Windows"/>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="InstantMessagingBinding" closeTimeout="00:00:45">
          <textMessageEncoding>
            <readerQuotas maxStringContentLength="200000" maxArrayLength="200000" />
          </textMessageEncoding>
          <httpTransport keepAliveEnabled="false" maxReceivedMessageSize="200000" authenticationScheme="Ntlm"/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="InstantMessagingBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Isima.InstantMessaging.WcfService.ContactService" behaviorConfiguration="InstantMessagingBehavior">
        <endpoint address=""
          binding="customBinding" bindingConfiguration="InstantMessagingBinding"
          contract="Isima.InstantMessaging.WcfService.IContactService" >
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
